
#title
{
  font-size: 8em; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 3px 3px #000;
  color: #00A480;
  padding: 40px;
}

.button
{
  font-size: 1em;
  margin-bottom: 20px;
}

#createATaco
{
  position: relative;
  background-image: url('../resources/backgrounds/blackorchid.png');
  width: 33%;
  border-style: solid;
  border-color: #333;
  border-radius: 50px 5px;
  margin-left: auto;
  margin-right: auto;
}

#createATaco:hover
{
  opacity: 0.9
}

#createATaco .buttonText
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 7em;
  font-size: 4em;
  padding: 0px;
  color: #FF6000;  

}

#logo
{
  margin-right: 40%;
  margin-left: 37%;
  margin-top: -160px;
  margin-bottom: 9%;
}

#loginDiv
{
float: right;
margin-right: 10%;
}

#createAccountDiv
{

  float: left;

}

li
{
  padding: 4px;
}
input
{
  font-size: 20px;
  width: 200px;
  height: 30px;
}
.createAnAccount
{
  margin-left: 35%;
}
.login
{
  margin-left: 43%;
}
.submit
{
  height: 30px;
  margin-left: 7%;
}
#signIn
{
  margin-left: 19%;
}

#signUp
{
  margin-left: 19%;
}