body
{
  background-image: url('../resources/backgrounds/squared_metal.png');
  font-family: 'Alegreya Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Hammersmith One', sans-serif;
}

img
{
  padding:8px;
}

img:hover
{
  border-style: ridge;
  border-width: 8px;
  padding: 0px;
}
