body
{
  background-image: url('../resources/backgrounds/squared_metal.png');
  font-family: 'Alegreya Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Hammersmith One', sans-serif;
}

.button
{
  display: inline-block;
  background-image: url('../resources/backgrounds/blackorchid.png');
  border-style: solid;
  border-color: #333;
  border-radius: 50px 5px;
  color: #FF6000;
  width: auto;
   position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.button:hover
{
  opacity: 0.9
}
