#quantity
{
    width: 50%;
}

#accordion
{
    width: 75%;
    margin-left: 0;
    margin-right: auto;
}

#cart
{
  background-color: green;
  overflow: auto;
}

#currentTaco
{
  top: 0;
  right: 0;
  position: fixed;
  width: 25%;
  background-color: red;
}

#tacoPrice
{
  clear: both;
}

#cartHeader
{
  margin: 0px;
}

.fixing
{
  font-weight:bold;
  list-style:none;
}

.fixing li
{
  font-weight:normal;
  list-style: none;
}

.fixing.veggie li
{
  font-weight:normal;
  list-style: outside;
  position: relative;
}

.fixing.extras li
{
  font-weight:normal;
  list-style: outside;
  position: relative;
}

.caption
{
    float:left;
    clear:both;
    padding-left: 8px;
}

.ingredient
{
    position: relative;
    float:left;
    margin-right:6%;
    width: 150px;
}

.selected
{
  border-style: ridge;
  border-width: 8px;
  border-color: #99B02D !important;
  padding: 0px;
}

.cartTaco
{
  float:left;
  border-width: 2px;
  border-color: #99B02D;
  border-style: solid;
}

.currTaco
{
  margin-left: 5%;
}

.clearButton
{
  font-size: 1em;
  color: #FF0000;
  font-weight: bold; 
  clear: both;
  display: block;
  text-align: center;
  margin-bottom: 1.5%;
}

.fillMe
{
  color: #FF0000;
}

ul.fixing
{
  float: left;
  width: 40%;
  margin-left: 10%;
  padding: 0;
}

ul.fixing li
{
  position: absolute;
}

ul.cartTaco
{
  padding: 0px;
  list-style: none;
}

img
{
  padding:8px;
}

img:hover
{
  border-style: ridge;
  border-width: 8px;
  border-color: #F0C73C;
  padding: 0px;
}